* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(backgroundFinals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* HEADER */
.navi {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background: linear-gradient(to right, #62D5B4, #62D5B4, #399494);
    width: 110%;
    padding: 10px;
    height: 15%;
    top: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
}

.logo {
    transition: 0.3s all ease;
    margin-left: 20px;
    margin-right: 20px;
}

.logo:hover {
    transition: 0.3s all ease;
    box-shadow: 0px 0px 5px white;
}

.scale:hover {
    transition: 0.5s all ease;
    scale: 110%;
}

.scale:not(:hover) {
    transition: 0.5s all ease;
}

.navbuttons {
    margin-left: 10px;
    margin-right: 10px;
}

.navbuttons:active {
    transition: 0.5s all ease;
    scale: 120%;
    font-weight: bolder;
}

.title:hover {
    /* color: rgb(223, 223, 223); */
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: 475px;
}

.title {
    margin-bottom: 5vh;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.card {
    display: flex;
    justify-self: center;
    /* max-width: 1200px; */
    width: 90%;
    height: 100px; /* Adjusted height to make it smaller */
    margin-top: 70px;
    margin-bottom: 20px;
    position: relative;
    top: 5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    border: transparent;
    background: linear-gradient(135deg, #f0f8ff, #e6f7ff);
}

@media (max-width: 767px) {
    .card {
        margin-top: 70px;
        margin: 3vh auto 12vh auto;
    }
}

.cart {
    background-color: #ffffff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    background: linear-gradient(135deg, #e6f7ff, #d9f2ff);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.summary .col-2 {
    padding: 0;
}

.summary .col-10 {
    padding: 0;
}

.row {
    margin: 0;
}

.title b {
    font-size: 2rem;
    color: #444;
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

#shoppingImage{
    width: 3.5rem;
    height: 3.5rem;
}

.col-2, .col {
    padding: 0 1vh;
}

a {
    padding: 0 1vh;
    color: #007acc;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
}

.close {
    margin-left: auto;
    font-size: 0.7rem;
    color: #888;
}

.back-to-shop {
    margin-top: 4.5rem;
    color: #007acc;
}

h5 {
    margin-top: 4vh;
    color: #333;
}

hr {
    margin-top: 1.25rem;
    border-color: #ddd;
}

form {
    padding: 2vh 0;
}

select, input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.btn {
    background-color: #2a75bb;
    border-color: #007acc;
    color: white;
    width: 20%;
    font-size: 0.7rem;
    margin-top: 3vh;
    padding: 1vh;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}

#checkOut {
    width: 40%;
}

.btn:focus {
    box-shadow: none;
    outline: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    user-select: none;
    transition: none;
}

.btn:hover {
    background-color: #ffcb05; 
    color: #2a75bb;
}

.btn:active {
    transform: scale(0.95);
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

/* footer {
    background-color: aqua;
    display: flex;
    height: 10vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
} */