* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}


.subs {
    font-size: 50px;
    font-weight: 900;
    padding-left: 100px;
    margin-bottom: 50px;
}

h3 {
    color: white;
}

p {
    font-weight: 600;
}

#home,
#store3 {
    background-image: url(EaKMc-cXgAIGCmR.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

body {
    background-image: url(EbXcTfOWAAMcsWO.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.navi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: linear-gradient(to right, #62D5B4, #62D5B4, #399494);
    width: 100%;
    padding: 10px;
    height: 15%;
    top: 0;
    z-index: 1000;
}

.left {
    display: flex;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    transition: 0.3s all ease;
    margin-left: 20px;
    margin-right: 20px;
}

.logo:hover {
    transition: 0.3s all ease;
    box-shadow: 0px 0px 5px white;
}

.promos {
    background-image: url(gif3.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.promos,
.items {
    display: flex;
    gap: 50px;
}

.scale:hover {
    transition: 0.5s all ease;
    scale: 110%;
}

.scale:not(:hover) {
    transition: 0.5s all ease;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.navbuttons {
    margin-left: 10px;
    margin-right: 10px;
}

.navbuttons:active {
    transition: 0.5s all ease;
    scale: 120%;
    font-weight: bolder;
}

.title:hover {
    color: rgb(223, 223, 223);
}


.store-promo {
    border-radius: 20px;
    width: 300px;
    background-color: rgba(254, 228, 196, 0.7);
    transition: 0.5s all ease;
}

.store-promo:hover {
    transition: 0.5s all ease;
    box-shadow: 0px 0px 10px black;
}

.no-scroll {
    overflow: hidden;
}

.items {
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.itembox {
    justify-self: center;
}

.store-item {
    transition: 0.3s all ease;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    background: linear-gradient(to right, #B4B4D5, white, #B4B4D5);
    text-align: center;
}

.store-item:hover {
    transition: 0.3s all ease;
    scale: 102%;
    box-shadow: 0px 0px 10px black;
    background: linear-gradient(to right, #62D5B4, #5AB4CD, #62D5B4);
}

.img-container {
    align-items: center;
    background-color: whitesmoke;
    height: 200px;
    width: 200px;
    box-shadow: inset 0px 0px 10px black;
    border-radius: 20px;
}

.desc-and-button {
    justify-self: start;
    margin-top: 50px;
}

h6 {
    font-size: 25px;
}

.buy:hover {
    background-image: linear-gradient(hsla(189, 83%, 31%, 0.4) 0 0);
    box-shadow: 0px 0px 5px black;
}

button {
    align-self: flex-start;
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    background: radial-gradient(circle at top left, #62d5b4, #62D5B4, #399494);
    z-index: 3;
}

button:active {
    transition: all ease;
    scale: 98%;
}

.bar {
    height: 10%;
}

#home {
    height: 85%;
}

.carousel {
    width: 75%;
    height: 75%;
    overflow: hidden;
    border-radius: 20px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Smooth transition */
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.arrow {
    position: absolute;
    bottom: 0%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

#slide1 {
    background-image: url(purple-tree-pjvkscw7wr0useu0.jpg);
}

#slide2 {
    background-image: url(flyziken-twitch-bg-pokemon.jpg);
}

#slide3 {
    background-image: url(pokemon-in-the-wild.png);
}

#slide4 {
    background-image: url(Inbound-from-Ultra-Space.png);
}

/* CSS */
.blur {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(3px);
    /* Adjust the blur intensity */
}

.bg-desc {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 50px;
}

#onetime {
    font-size: 17;
    font-weight: 600;
    text-align: center;
    height: 25px;
    width: 15%;
    background: linear-gradient(to right, #FFACAC, #9C5151);
    border-radius: 10px;
}

#sub {
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
}

.gifts {
    height: 35%;
}

#discover {
    height: 90%;
    display: flex;
    align-items: end;
    font-size: 50px;
}

#bundle {
    border-radius: 0px;
    width: 1000%;
}

#bundlebutton {
    margin-left: 50px;
}

#longbox {
    overflow: hidden;
    padding: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 400px;
    background: radial-gradient(circle at bottom right, teal, #83EEC5);
    color: #fff;
    padding: 20px 0;
    min-height: 60px;
    bottom: 0;
    width: 100%;
    z-index: 1000;

}

.footer hr {
    width: 100%;
    border: none;
    height: 2px;
    background-color: white;
}

#links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#links a:hover {
    color: yellow;
}

hr {
    width: 90%;
    border: 0;
    height: 5px;
    background-color: white;
    margin: 20px 0;
}

#rights {
    font-size: 14px;
    text-align: center;
}

a {
    text-decoration: none;
}



#sideBar {
    position: fixed;
    padding-top: 2rem;
    gap: 30px;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background: #62D5B4;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -10px 0 10px rgba(0, 0, 0, .1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#sideBar h2 {
    width: 100%;
}

#sideBar a {
    width: 100%;
}

#burger {
    display: none;
}

.menuList {
    display: flex;
    /* flex-direction: row; */
    justify-content: right;
    gap: 10px;
}

@media (max-width: 860px) {
    .navbuttons a {
        font-size: 1.4rem;
    }
}

@media (max-width: 730px) {
    #hideOnTablet {
        position: absolute;
        top: 100%;
        right: -50%;
        width: 200px;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
    }

    #hideOnTablet {
        display: none;
    }

    #burger {
        display: block;
    }

    #burger:hover {
        color: green;
        cursor: pointer;
    }

    #close:hover {
        color: green;
        cursor: pointer;
    }
}

/* tablets */
@media (max-width: 768px) {
    .navi {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .title {
        display: none;
    }

    #onetime {
        width: 30%;
    }

    #discover {
        font-size: 30px;
    }

    .items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .img-container {
        height: 175px;
        width: 175px;
    }

    .buy {
        align-self: center;
    }

    .subs {
        padding-left: 0;
        text-align: center;
    }

    #bundlebutton {
        margin-left: 0;
    }

    #rights {
        text-align: center;
    }

    .menu {
        margin-left: 0;
    }

    .navbuttons {
        display: flex;
        justify-content: end;
        font-size: 20px;
        align-items: center;
    }

}

/* phones */
@media (max-width: 480px) {
    #onetime {
        width: 55%;
    }

    .items {
        grid-template-columns: repeat(1, 1fr);
    }

    .store-item {
        justify-self: center;
        height: 100%;
        width: 65%;
    }

    #sub {
        font-size: 30px;
    }

    .gifts {
        height: 25%;
    }

    .arrow {
        width: 50px;
    }

    .left-arrow {
        left: 20;
    }

    .right-arrow {
        right: 20;
    }

    #longbox {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .slide{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #onetime{
        width: 150px;
    }

}